<h2>{{model.title}}</h2>

<div class="row">
  <div class="col-md-3">
    Title: {{model.title}}
    Sort: {{model.sort}}
    Visited: {{model.visited}}
    Steps: {{model.step.length}}
    Tutorial: {{model.tutorial.name}}
  </div>

</div>
