<h2>1. Setup step sorting</h2>

Sort: {{input value=model.sort}}

<h2>2. Name step</h2>

Name: {{input value=model.name}}

<h2>3. Select Step Type</h2>

<form onchange={{action 'updateType' value='target.value'}}>
  {{#each model.typeOptions as |type|}}
    {{input id=type type="radio" name="step-type" value=type}} <label for="{{type}}">{{type}}</label>
  {{/each}}
</form>

<h2>4. Step content</h2>

{{ivy-codemirror
  id=stepEditorId
  options=(hash
    lineNumbers  = true
    mode         = 'htmlmixed'
    addModeClass = true
    theme        = 'solarized light')
  value        = model.code
  valueUpdated = (action 'updateContent')
}}

Undo/Redo: {{historySize.undo}}

<h2>5. Insert. Select position with click</h2>

{{ivy-codemirror
  id=resultEditorId
  options=(hash
    lineNumbers  = true
    mode         = 'htmlmixed'
    addModeClass = true
    theme        = 'solarized light')
  value = model.lesson.code
}}

Line: {{input value=model.line}} Char: {{input value=model.char}}

<h2>6. Save</h2>

<button {{action 'saveStep' model}}>Save Step</button>