<div class="well well-sm">
<h3>The Builder</h3>

  <p>Build your tutorial step by step.</p>
  <ol>
    <li>Change the code</li>
    <li>Write instruction</li>
    <li>Save</li>
  </ol>

</div>

<div class="row">
  <div class="col-md-9">

    <div class="well well-sm">

      <h3>Code Editor</h3>

      {{ivy-codemirror
        id='builder-editor'
        options=(hash
          lineNumbers  = true
          mode         = 'htmlmixed'
          addModeClass = true
          theme        = 'solarized dark')
        value        = source
        valueUpdated = (action 'updateSource')
      }}
    </div>

    <hr>

    <h3>Preview of the actual state</h3>

    {{preview-iframe srcdoc=source}}

  </div>

  <div class="col-md-3">

    <div class="well well-sm">
      {{outlet}}
    </div>

    <div class="list-group">
      {{#each model.builderSteps as |step|}}
        {{#link-to "builder.step" step class='list-group-item'}}
          <h4>Step {{step.sort}}</h4>
          <p class="list-group-item-text">
            {{step.comment}} <br>
            <button {{action 'deleteStep' step}} class="btn btn-danger btn-xs">Delete this step</button>
          </p>
        {{/link-to}}
      {{/each}}
    </div>
  </div>

</div>
